#espace_user {
    background-color: #1E1E1E;
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: black;
}

#espace_user p {
    color: white;
    font-size: 32px;
    margin-left: 3%;
}

#id h1 {
    color: white;
    font-size: 32px;
    text-decoration: underline;
}

#espace_user p {
    color: white;
    font-size: 32px;
    margin-left: 3%;
}

#espace_user img {
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

@media screen and (max-width: 850px) {
#espace_user p {
    font-size: 20px;
}

#id h1 {
    font-size: 20px;
}
#espace_user img {
    width: 75px;
    height: 75px;
}
#espace_user p {
    font-size: 20px;
}
}


