#image{
    margin-top: 5%;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
}
.serie{
    text-align: center;
}
.serie button{
    border: none; 
    background: none; 
    padding: 0; 
    cursor: pointer;
}

.serie img{
    width: 200px;
    height: 300px;
}

@media screen and (max-width: 850px) {
    #image{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .serie img{
        width: 180px;
        height: auto;
    }
}